#viewport {
	position: absolute;
	overflow: hidden;

	width: 1024px;
	height: 640px;

	left: 50%;
	margin-left: -512px;

	top: 50%;
	margin-top: -320px;

	border: 2px solid black;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


/* All game objects */
#viewport > * {
	position: absolute;
}


/* ## Player */
#viewport > .player {
	z-index: 0;

	border: 1px dotted black;
	background: rgba(200, 200, 200, 0.1);
}

/* Player Direction */
#viewport > .player.direction-left {
	-webkit-transform: scaleX(-1);
}

#viewport > .player.direction-right {
	-webkit-transform: scaleX(1);
}

/* Playe Arm */
@-webkit-keyframes arm-idle {
	0% {
		margin-left: 0;
		margin-top: -2px;
	}

	25% {
		margin-left: 3px;
		margin-top: 0;
	}

	50% {
		margin-left: 0;
		margin-top: 3px;
	}

	75% {
		margin-left: -4px;
		margin-top: 0;
	}

	100% {
		margin-left: 0;
		margin-top: -2px;
	}
}

@-webkit-keyframes arm-pending {
	0% {
		margin-left: 0;
		margin-top: 0;
	}

	100% {
		margin-left: 10px;
		margin-top: 3px;
	}
}

@-webkit-keyframes arm-punch {
	0% {
		-webkit-transform: scale(2);
		margin-left: 0;
	}

	10% {
		-webkit-transform: scale(1.8);
		margin-left: 90px;
	}

	60% {
		-webkit-transform: scale(1.8);
		margin-left: 90px;
	}

	/* End at idle state */
	100% {
		-webkit-transform: scale(1);
		margin-left: 0;
		margin-top: -2px;
	}
}

#viewport > .player > .arm {
	position: absolute;

	left: 26px;
	top: 24px;

	width: 36px;
	height: 36px;

	background: red;
	border: 1px dotted #333;

	-webkit-transition: all 0.2s ease-in-out;

	-webkit-animation: arm-idle 1s linear infinite;
}

#viewport > .player > .arm.pending {
	left: 50px;
	-webkit-transform: scale(2);

	-webkit-animation-name: arm-pending;
	-webkit-animation-duration: 0.1s;
	-webkit-animation-direction: alternate;
	-webkit-animation-delay: 0.2s;
}

#viewport > .player > .arm.punch {
	-webkit-animation: arm-punch 2s;
}

/* Player Health */
#viewport > .player > .health {
	position: absolute;
	display: block;

	left: 0;
	top: -14px;

	height: 8px;
	width: 100%;

	border: 1px solid black;
	opacity: 0.75;
	-webkit-appearance: none;
}

#viewport > .player > .health::-webkit-meter-bar {
	background: rgba(0, 0, 0, 0.3);
	padding: 1px;
}

#viewport > .player > .health::-webkit-meter-optimum-value {
	background: green;
}

#viewport > .player > .health::-webkit-meter-suboptimum-value {
	background: orange;
}

#viewport > .player > .health::-webkit-meter-even-less-good-value {
	background: red;
}

/* Walls */
#viewport > .wall {
	z-index: 1;

	background: #555;
}
