#viewport {
	position: absolute;
	overflow: hidden;

	width: 1024px;
	height: 640px;

	left: 50%;
	margin-left: -512px;

	top: 50%;
	margin-top: -320px;

	border: 2px solid black;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#viewport:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 250px;
	width: 100%;
	height: 2px;
	background: red;
}

/* All game objects */
#viewport > * {
	position: absolute;
}


/* Player */
#viewport > .player {
	border: 1px dotted black;
	background: rgba(200, 200, 200, 0.1);
}

#viewport > .player > .health {
	position: relative;
	display: block;

	left: 0;
	top: -18px;

	height: 10px;
	width: 100%;

	border: 1px solid black;
	opacity: 0.75;
	-webkit-appearance: none;
}

#viewport > .player > .health::-webkit-meter-bar {
	background: rgba(0, 0, 0, 0.3);
	padding: 1px;
}

#viewport > .player > .health::-webkit-meter-optimum-value {
	background: green;
}

#viewport > .player > .health::-webkit-meter-suboptimum-value {
	background: orange;
}

#viewport > .player > .health::-webkit-meter-even-less-good-value {
	background: red;
}

/* Walls */
#viewport > .wall {
	background: rgb(120, 120, 120);
}


